html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 160px 0 0 0; 
    margin:0 0 0 0;
}

.header-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
}

.logo-header{
    display: flex;
    justify-content: space-between;

}

.logo-img {
    margin-top: 10px;
}

ul{
    margin: 0px;
    padding: 0px 20px;
}

a{
    text-decoration: none;
    color: #013b3ec2;    
}

a:hover{
    text-decoration: none;
    color: rgba(107, 224, 181, 0.637);
    color: rgb(5, 148, 134);

}

ul li {
    list-style: none;
    display: inline-block;
    margin: 40px 20px 0px 20px;
}

nav{
    background-color: #022527;
}
nav ul li {
    margin: 20px 20px 0px 20px;
    font-size: 16px;
}

nav ul{
    text-align: center;
    /* border: 1px solid grey; */
    padding: 0 0 20px 0;

}

nav ul li a {
    color: #93daca;

}

.container-fluid{
    margin: 0 0 0 0;
    padding: 0;
}

.sub-phones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 50px; 
    margin: 50px 30px 50px 30px; 

}

.phone-item{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.phone-item:hover{
    box-shadow: 0 0 30px rgba(10, 100, 94, 0.863);
    transform: scale(1.1);

}


.phone-item img {
    /* max-width: 100%; */
    height: 150px;
    display: block;
}

.sub-hover{
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    background-color: #bfd7d8;
    /* background-color: #bfd7d8c6; */
    display: none;
    max-height: calc(100vh - 120px); 
    overflow-y: auto; 
}


.footer-area{
    
    background-color: #022527;
    /* height: 500px; */
    padding: 5% 10% 1% 10%;
    color: #93daca;
}

.footer-area h3{
    color: rgb(247, 247, 247);
}
.connect-us{
   
    display: flex;
    justify-content: space-around;
}

.connect-us input{
    border: none;
    width: 400px;
    padding: 10px 20px 10px 20px;
}

.connect-us button{
    border: 2px solid #045e63;
    padding: 10px 20px 10px 20px;
    background-color: #bfd7d8;
    color: #045e63;

}

.connect-us button:hover{
    border: 2px solid #bfd7d8;
    background-color: #045e63;
    color:#bfd7d8 ;
    transform: scale(1.1);

}


.more-details{
    
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}

.more-details ul li{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    font-size: 15px;
}

.footer-icons{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.footer-icons i {
    font-size: 40px;
    margin: 20px;
}

.payment-mode i{
    background-color: #93daca;
    color: #022527;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    /* width: 60px; */
}

.copy-right{
    margin: 30px 0 0 0;
    font-size: 12px;
    text-align: center;

    /* color: #93daca; */

}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
    background:#022527;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(107, 224, 181, 0.637); 
    border-radius: 50px;


}

::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 224, 181, 0.637); 
}


/* body.no-scroll {
    overflow: hidden;
} */



.selected-item-head {
    color: #056267;
    background-color: #bfd7d8;
    margin: 10px 0px;
    padding: 0px 20px;
    vertical-align: center;
}


.selected-item-head span {
    font-weight: bold;
    padding: 0px 25px;
    font-size: 20px;

}

.selected-item-head p {
   display: inline;

}

.main-content{
    display: flex;
    margin: 30px 20px;
    color: #056267;

}


.filter-sort {
    flex-grow: 1; 
    flex-basis: 15%; 
}

.product {
    flex-grow: 2; 
    flex-basis: 85%; 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 50px;
    text-align: center;

}

.product-item p{
    color: #014043;
    font-weight: bold;
    font-size: 20px;

}


.product-item {
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    padding: 5px; /* Optional: Add some space around the images */
    border: 2px solid #045e63;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.product-item img {
    width: 300px;
    height: 300px;
}
.color-selection {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}
.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.color.blue { background-color: #3a4b69; }
.color.gray { background-color: #636362; }
.color.white { background-color: beige; }
.color.black { background-color: #0b0b0a;}
.color.pink { background-color: #eb96cc;}
.color.red { background-color: #f36469;}
.color.green { background-color: #096f2d;}

.color.selected {
    border: 2px solid #069b71;
    box-shadow: 0 0 5px rgba(1, 247, 206, 0.5); /* Highlight effect */
}

.product-item button{
    margin-top: 10px;
    padding: 10px 40px 10px 40px;
    border: 2px solid #045e63;
    border-radius: 20px;
    background-color: #bfd7d8;
    color: #045e63;
    transition: transform 0.2s ease, background-color 0.1s ease , color 0.1s ease ;

}

.product-item button:hover{
    border: 2px solid #bfd7d8;
    background-color: #045e63;
    color:#bfd7d8 ;
    transform: scale(1.1);

}
.filter-item{
    border: 2px solid #045e63;
    border-radius: 10px;
    margin-top: 20px;
}

.filter-item h6{
    padding: 10px 0 0px 10px;
}
#price-range {
    width: 80%;
    margin: 30px 20px;
    position: relative;
}
#min-price{
    border: none;
    position: absolute;
    top: -29px;
    left: -12px;
    right: 1px;
}
#max-price {
    border: none;
    position: absolute;
    top: -29px;
    left: 90px;
    right: -10px;
    text-align: right;

}


.toggle-icon {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.filter-head{
    display: flex;
    justify-content: space-between;
}

#product-type {
    margin-top: 10px;
}

#product-type label {
    display: block;
    margin-bottom: 5px;
}

.product-filter, .color-filter {
    margin:0px 10px 10px 10px;
}

label{
    display: block;
}

.filter{
    margin: 0 0 20px 0;
}

.sort-dropdown select {
    height: 40px;
    /* width: 200px; */
    border-radius: 10px;
    border: 2px solid #045e63;
    padding: 0 10px 0px 5px;
    color: #045e63;

}
